body{
    text-align: center;
}

/* Buttons */

button{
    padding: 10px 30px 10px 30px;
    border: none;
    color: #fff;
    background-color: red;
    cursor: pointer;
    display: inherit;
    margin: auto;
    width: 180px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts */
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Cal-Font */
p#no1 {
    border-bottom: 1px solid;
    margin-right: 10px;
    padding: 5px;
}

p#no2 {
    border-bottom: 1px solid;
    padding: 5px;
}

.btn {
    display: inline-block;
}

.numbers {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    gap: 10px;
}

.numbers input {
    width: 20px;
    border-color: #ff0000 !important;
    padding: 7px 8px;
    border-bottom: 1px solid;
}

.result {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Removes the default border in its normal state */
input {
  border: none;
}

/* Removes the blue/black highlight outline when the user clicks inside */
input:focus {
  outline: none;
}
